*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#food-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

#food-form{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    display: flex;

}

 #food-form > input{
    flex: 1;
    height: 50px;
    border: none;
    outline: none;
    font-size: 22px;
    padding: 10px;
    background-color: #f8f7f5;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#recipe-box{
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

.mealTitle{
    width: 250px;
    height: 333px;
    border-radius: 10%;
    text-align: center;
    margin-bottom: 7%;
    margin-right: 6%;
    background-color:aquamarine;
}
.mealTitle img{
     width: 100%;
     height: auto;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}
.food-name{
    margin-top: 3%;
    color: magenta;
}
.no-food{
    width: 250px;
    height: auto;
    border-radius: 20px;
    border: 2px solid #f06c4e;
    color: cyan;
    padding: 10px;
}

#search-button{
    background-color: #f06c4e;
    padding: 15px;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    font-size: 16px;
}

#food-details{
    width: 500px;
    height: 600px;
    margin: auto;
}
#food-details img {
    width: 100%;
    border-radius: 10px;
}